.project-card__date {
  font-weight: 100;
  margin-top: 0.25rem;
  text-align: center;
  margin-inline: auto;
  display: block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: fit-content;
  font-size: 0.75rem;
  padding: 0.25em 0.75em;
  border-radius: 2px;
}
