@import url(/src/styles/main.scss);

.heading {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;

  &--large {
    font-size: var(--font-size-xl);
  }

  &--small {
    font-size: var(--font-size-lg);
  }

  &--white {
    color: var(--secondary-color);
  }

  &--blue {
    color: var(--primary-color);
  }

  &--center {
    text-align: center;
  }
}
